<p>
    name: <%= @student.name %>
</p>
<p>
    city: <%= @student.city %>
</p>
<p>
    school_name: <%= @student.school_name %>
</p>
<p>
    school_type: <%= @student.school_type %>
</p>
<p>
    grade: <%= @student.grade %>
</p>