<!-- Modal -->
<div class="modal fade" id=<%=modal_id%> tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%=title%></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body responsive-google-slides">
                <iframe src="<%=embed_url%>"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <%= form_with url: edit_content_admin_school_course_section_path(@admin_school, @admin_course, @admin_section) do |f| %>
                <div class="card-admin">
                    <div class="card-body">
                        <div class="mb-3">
                            <%= f.label :url, { class: "form-label" }%>
                            <%= f.text_field :url, {:value => video.url, class: "form-control" } %>
                        </div>
                        <%= hidden_field_tag "video_id" , "#{video.id}" %>
                        <%= hidden_field_tag "content_kind" , "#{kind}" %>
                        <%= f.submit 'Submit' , :class=> "btn btn-primary"%>
                    </div>
                </div>
            <% end %>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


