<p id="notice"><%= notice %></p>

<%= link_to 'Edit' , edit_admin_school_course_section_path(@admin_school, @admin_course, @admin_section) %> |
<%= link_to 'Back' , admin_school_course_sections_path(@admin_school, @admin_course) %>

<h1><%= @admin_section.name%></h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Content Kind</th>
            <th scope="col">name</th>
            <th scope="col">url</th>
            <th scope="col">show</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <% @content_list.each_with_index do |content, index| %>
            <% data_bs_target="Modal-#{index}" %>
            <tr>
                <th scope="row"><%= index %></th>
                <td>
                    <%= content[:kind] %>
                </td>
                <td>
                    <%=content[:title]%>
                </td>
                <td>
                    <%=content[:url]%>
                </td>
                <td>
                    <div class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#<%=data_bs_target%>">
                        show
                    </div>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <% if content[:kind]=="Video" %>
                <%= render :partial=> 'video_modal', :locals => {
                    :data_bs_target => data_bs_target,
                    :embed_url => content[:embed_url],
                    :title => content[:title],
                    :video => content[:video]
                    }
                %>
            <% end %>
        <%end%>
    </tbody>
    
</table>