<p id="notice"><%= notice %></p>

<%= link_to 'Edit' , edit_admin_school_course_section_path(@admin_school, @admin_course, @admin_section) %> |
<%= link_to 'Back' , admin_school_course_sections_path(@admin_school, @admin_course) %>

<h1><%= @admin_section.name%></h1>
<h3>
  <div class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new_video_modal">New Video</div>
  <div class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#new_ppt_modal">New PPT</div>
</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Drag</th>
            <th scope="col">kind</th>
            <th scope="col">name</th>
            <th scope="col">url</th>
            <th scope="col">Edit/Delete</th>
        </tr>
    </thead>
    <tbody class="sortable-items">
        <% @content_list.each_with_index do |content, index| %>
            <% modal_id="Modal-#{index}" %>
            <tr class="item" data-item="contents_<%=content[:id]%>">
                <td scope="row">
                    <i class="fas fa-align-justify"></i>
                </td>
                <td>
                    <%= content[:kind] %>
                </td>
                <td>
                    <%=content[:title]%>
                </td>
                <td>
                    <%=content[:url]%>
                </td>
                <td>
                    <div class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#<%=modal_id%>">
                        Edit
                    </div>
                    <%= link_to 'Destroy' , delete_content_admin_school_course_section_path(@admin_school, @admin_course, @admin_section, content_id: content[:id]), 
                            method: :delete, data: {confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
                </td>
            </tr>
            <% if content[:kind]=="Video" %>
                <%= render :partial=> 'video_modal', :locals => {
                    :modal_id => modal_id,
                    :embed_url => content[:embed_url],
                    :title => content[:title],
                    :video => content[:video],
                    :kind => content[:kind]
                    }
                %>
            <% end %>
            <% if content[:kind]=="Powerpoint" %>
                <%= render :partial=> 'ppt_modal', :locals => {
                    :modal_id => modal_id,
                    :embed_url => content[:url],
                    :title => content[:title],
                    :ppt => content[:ppt],
                    :kind => content[:kind]
                    }
                %>
            <% end %>
            <% if content[:kind]=="Exercise" %>
                <%= render :partial=> 'exercise_modal', :locals => {
                    :modal_id => modal_id,
                    :title => content[:title],
                    :ex => content[:ex],
                    :kind => content[:kind],
                    :quiz_init => content[:quiz_init],
                    }
                %>
            <% end %>
        <%end%>
    </tbody>
</table>

<%= render :partial=> 'new_video_form' %>
<%= render :partial=> 'new_ppt_form' %>


<%=javascript_pack_tag 'sortable' %>