<h1>Section</h1>
<p>
    <%= @section.name %>
</p>
<p>
    <%= @section.description %>
</p>
<p>
    <%= @section.position %>
</p>


<!-- Contents -->
<h1>Contents</h1>
<div class="container mt-2">
    <div class="row">
        <% @content_list.each_with_index do |content, index| %>
            <% modal_id="Modal-#{index}" %>
            <div class="col-md-12 col-sm-12 item mt-2 p-2" data-bs-toggle="modal" data-bs-target="#<%=modal_id%>"">
                <div class="card item-card card-block">
                    <h3>
                        <%= content[:kind]%>
                    </h3>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 item mt-2 p-2">
                            <% if content.key?(:thumbnail_medium)%>
                                <img src="<%=content[:thumbnail_medium]%>">
                            <% end%>
                        </div>
                        <div class="col-md-8 col-sm-8 item">
                            <h5 class="card-text p-2">
                                <%=content[:name]%>
                            </h5>
                            <p class="card-text p-2">
                                <%=content[:url]%>
                            </p>
                            <% if content.key?(:duration)%>
                                <p class="card-text p-2">
                                    duration: <%=content[:duration]%>
                                </p>
                            <% end%>
                        </div>
                        
                    </div>
                    
                    
                </div>
                <% if content[:kind] == "Video"%>
                    <%= render :partial=> 'video_modal', :locals => {
                            :modal_id => modal_id, 
                            :embed_url => content[:embed_url],
                            :title => content[:title]
                        }
                    %>
                <% end %>
                <% if content[:kind]=="Powerpoint" %>
                    <%= render :partial=> 'ppt_modal', :locals => {
                        :modal_id => modal_id,
                        :embed_url => content[:url],
                        :title => content[:title]
                        }
                        %>
                <% end %>
                
            </div>
            
        <%end%>
    </div>
</div>