<p id="notice"><%= notice %></p>

<%= link_to 'School Edit' , edit_admin_school_path(@admin_school) %> |
<%= link_to 'Back to Schools' , admin_schools_path %>

<h1>My Classrooms</h1>
<%= link_to 'My Classrooms' , admin_school_classrooms_path(@admin_school) %>

<br>
<h1>My Courses</h1>
<!-- <%= link_to 'My Classrooms' , admin_school_classrooms_path(@admin_school) %> -->


