<p>name: <%= @classroom.name %> </p>
<p>description: <%= @classroom.description %> </p>
<p>city: <%= @classroom.city %> </p>
<p>school_name: <%= @classroom.school_name %> </p>
<p>school_type: <%= @classroom.school_type %> </p>
<p>grade: <%= @classroom.grade %> </p>