<ul>
  <% @schools.each do |school| %>
    <li>
      <%= school.name %>
      <%= link_to "Show", school_path(school) %>
      <%= link_to 'Edit', edit_school_path(school) %>
      <%= button_to 'Delete', school_path(school), :method => :delete, :data => { :confirm => "Are you sure?" } %>
    </li>
  <% end %>
</ul>
<%= link_to 'New School', new_school_path %>

<%= paginate @schools %>