<h1>School</h1>
<%= link_to 'Back to index' , schools_path %>

  <!-- banner -->
  <img src="https://fakeimg.pl/350x200/ff0000,128/000,255">

  <!-- school info -->
  <h1>
    <%= @school.name %>
  </h1>
  <h2>
    <%= simple_format(@school.description) %>
  </h2>

  <div class="container">
    <%= @school.body %>
  </div>


  <hr />
  <!-- classrooms -->
  <h1>Classrooms</h1>
  <div class="container mt-2">
    <div class="row">
      <% @classrooms.each do |classroom| %>
        <div class="col-md-3 col-sm-6 item mt-2 p-2 linkable">
          <div class="card item-card card-block">
            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
            <%= link_to school_classroom_path(@school,classroom) do%>
              <h5 class="item-card-title mt-3 mb-3 p-2">
                <%=classroom.name%>
              </h5>
            <%end%>
            <p class="card-text p-2">
              <%=classroom.description%>
            </p>
          </div>
        </div>
        <%end%>
    </div>
  </div>

  <!-- courses -->
  <h1>Courses</h1>
  <div class="container mt-2">
    <div class="row">
      <% @courses.each do |course| %>
        <div class="col-md-3 col-sm-6 item mt-2 p-2 linkable">
          <div class="card item-card card-block">
            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
            <%= link_to school_course_path(@school,course) do%>
              <h5 class="item-card-title mt-3 mb-3 p-2">
                <%=course.name%>
              </h5>
              <%end%>
                <p class="card-text p-2">
                  <%=course.description%>
                </p>
          </div>
        </div>
        <%end%>
    </div>
  </div>

  <!-- Staffs -->
  <h1>Staffs</h1>
  <div class="container mt-2">
    <div class="row">
      <% @staffs.each do |staff| %>
        <div class="col-md-3 col-sm-6 item mt-2 p-2 linkable">
          <div class="card item-card card-block">
            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
            <%= link_to school_staff_path(@school,staff) do%>
              <h5 class="item-card-title mt-3 mb-3 p-2">
                <%=staff.name%>
              </h5>
              <%end%>
                <p class="card-text p-2">
                  <%=staff.title%>
                </p>
          </div>
        </div>
        <%end%>
    </div>
  </div>

  <!-- Students -->
  <h1>Students</h1>
  <%= link_to "student index" , school_students_path(@school)%>
    <div class="container mt-2">
      <div class="row">
        <% @students.each do |student| %>
          <div class="col-md-3 col-sm-6 item mt-2 p-2 linkable">
            <div class="card item-card card-block">
              <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
              <%= link_to school_student_path(@school,student) do%>
                <h5 class="item-card-title mt-3 mb-3 p-2">
                  <%=student.name%>
                </h5>
                <%end%>
            </div>
          </div>
          <%end%>
      </div>
    </div>