<ul>
    <% @courses.each do |course| %>
        <li>
            <%= course.name %>
            <%= link_to 'show' , school_course_path(@school, course) %>
            <%= link_to 'edit' , edit_school_course_path(@school, course) %>
            <%= link_to 'teachers' , school_course_teachers_path(@school, course) %>
            <%= link_to 'destroy' , school_course_path(@school, course), :method=> :delete %>
        </li>
    <% end %>

</ul>

<%= link_to 'new course' , new_school_course_path(@school) %>